@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    body {
        font-family: "Barlow", sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: "Barlow Condensed", sans-serif;
    }
}

.hero-bg {
    position: relative;
    background: url("../../public/assets/hero.png");
    background-size: cover;
    background-position: center;
}

.background-footer {
    position: relative;
    background: url("../../public/assets/bg-footer.png");
    background-size: cover;
    background-position: center;
}
