@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@layer base {
    body {
        font-family: 'Fira Sans', sans-serif;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Barlow Condensed', sans-serif;
    }
}

.hero-bg {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0.7) 50%, rgba(224, 247, 246, 0.4) 100%), url('../../public/assets/hero.png');
    background-size: cover;
    background-position: center;
}
